.content-container{
    margin: 0;
}

#creation-page{
    background: #f6f3eb;
    /* background-repeat: no-repeat;
    background-size: cover; */
    color: black;
}

.header{
    text-align: center;
}

.header > h1{
    margin: 0;
    padding: 1%;
}

.quote{
    background-color: #ffffff;
    opacity: 0.5;
    border: 5px solid black;
    color: #000000;
    font-size: 50px;
    font-style: italic;
    text-align: center;
    justify-self: center;
    text-shadow: 1px 1px;
    padding: 0;
    margin: 10rem 10rem;
}

.content {
    padding: 1rem 1rem;
    font-size: 1cm;
}

.content > p {
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

.character-heading{
    margin-bottom: 100px;
}
.element1, .element2, .element3, .element4, .element5, .element6, .element7, .element8{
    /* parallax effect from W3  */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    background-size: cover;
    width: 100%;
    height: 100vh;
}
.content-container h1{
    font-size: 100px;
    margin-top: 30%;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.element1{
    background-image: url(../images/mob_faces.PNG);
}
.element2{
    background-image: url(../images/cooking.PNG);

}
.element3{
    background-image: url(../images/howl_society.PNG);
}
.element4{
    background-image: url(../images/female_protagonists.PNG);
}
.element5{
    background-image: url(https://media.giphy.com/media/J4FsxFgZgN2HS/giphy.gif);
}
.element6{
    background-image: url(https://media.giphy.com/media/IzU4wcD554uGc/giphy.gif);
}
.element7{
    background-image: url(https://media.giphy.com/media/qhuFHjIDMYrfO/giphy.gif);
}
.element8{
    background-image: url(https://media.giphy.com/media/E7gFe7qMMYAlW/giphy.gif);
}