body{
    background: white;
}
#navbar {
    background: #333333;
    height: 80px;
    display: flex;
    font-size: 1.2rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#navbar-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}


.nav-item{
    float: left;
    height: 80px;
    margin: 0px 10px;
    vertical-align: middle;
}

.nav-item > a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    text-align: center;
    align-items: center;
    height: 80px;
}

.nav-item:hover {
    border-bottom: solid #ffffff 4px;
    transition: ease-in-out 0.5s;
}