#creation-page{
    background-image: url("../images/background_howl.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #f6f3eb;
}

.header{
    text-align: center;
}

.header > h1{
    font-size: 2cm;
    margin: 0;
    padding: 1%;
}

.quote{
    background-color: #ffffff;
    opacity: 0.5;
    border: 5px solid black;
    color: #000000;
    font-size: 50px;
    font-style: italic;
    text-align: center;
    justify-self: center;
    text-shadow: 1px 1px;
    padding: 0;
    margin: 10rem 10rem;
}

.content {
    padding: 1rem 1rem;
    font-size: 1cm;
}

.content > p {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
