

.header{
    position: relative;
    background-color: #f6f3eb;
    background-size: cover;
    background-position: center center;
    z-index: 11;
    height: 30vh;
    /* Add space to top so move inner divs down  */
    padding-top: 20vh;
}

.header-title{
    display: block;
    width: 40%;
    height: auto;
    margin: auto;
    text-align: center;
    font-size: 70px;
}

